@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&display=swap');

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
--grayish-blue: hsl(217, 19%, 35%);
--blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(0, 0%, 81%);
--Light-gray-blue: hsl(210, 46%, 95%);
}

main {
  font-family: "barlow semi condensed", sans-serif;
  font-family: 13px;
  display: grid;
  grid-template-columns:370px;
  grid-template-rows: auto;
  grid-template-areas:
  "daniel daniel jonathan kira"
  "jeanette patrick patrick kira";
}
div{
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgb(196, 194, 194);
}

.daniel {
  grid-area:daniel;
}

.jonathan {
  grid-area:jonathan;
}

.jeanette {
  grid-area:jeanette;
}
.patrick {
  grid-area:patrick;
}
.kira {
  grid-area:kira;
}